.NewPost {
    width: 80%;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    vertical-align: text-bottom;
}

.NewPost h1 {
    grid-column: 1 / 5;
}

.NewPost label {
    grid-column: 1 / 2;
    margin-left: 50px;
    text-align: left;
    font-weight: bold;
    width: 80px;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
    grid-column: 2 / 5;
    width: 90%;
    box-sizing: border-box;
    font: inherit;
    margin-right: 20px;
}

.NewPost button {
    grid-column: 2 / 4;
    width: 200px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
}

.NewPost button:hover,
.NewPost button:active {
    color: white;
    background-color: #fa923f;
}